.Field {
    margin-top: 8px;
    text-align: left;
}

.Field label {
    font-style: inherit;
    line-height: 1.33333;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 4px;
    margin-top: 0px;
}